@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Merriweather";
  color: #0f1b8b;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #66360c;
}
.navbar h1 {
  color: rgb(2, 2, 220);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: rgb(241, 128, 53);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
/* Link previews / list */
.link-item {
  background-color: rgba(1, 34, 245, 0.057);
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.link-item:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.link-item h3 {
  font-size: 20px;
  color: #3538f1;
  margin-bottom: 8px;
}
